@tailwind base;
@tailwind components;
@tailwind utilities;


.MuiDataGrid-columnHeaderTitleContainer {
    display: flex !important;
    justify-content: center !important;
}

.MuiInputBase-input {
    height: 52px !important;
}

#tableRight>div>div>div>.css-wop1k0-MuiDataGrid-footerContainer {
    display: none !important;
}
#tableRight>div>div>div> {
    display: none !important;
}
#tableLeft>div>div>div>.css-wop1k0-MuiDataGrid-footerContainer {
    display: none !important;
}
.css-1w53k9d-MuiDataGrid-overlay{
    display: none !important;
}
#react-select-2-input {
    box-shadow: none !important;
}

.overflow-scroll::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.overflow-scroll::-webkit-scrollbar-thumb {
    background-color: blue;
}

.MuiDataGrid-cell--editable>div {
    min-width: 130px;
}

/* worker_main  -----------*/
.MuiDataGrid-cell>div {
    min-width: 100px;
}

.MuiDataGrid-cell--editable>div {
    min-width: 40px;
}

.dateBooking>div {
    height: 35px;
    margin-right: 4px;
}

.dateBooking>div>input {
    border: 1px solid green;
}

.dateBooking>div>input:focus {
    border: 1px solid green;

}

#react-select-6-input {
    box-shadow: none;
}

*, html, body {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.css-c63i49-MuiInputBase-input-MuiInput-input:focus {
    box-shadow: none;
}

.css-128fb87-MuiDataGrid-toolbarContainer>button {
    display: none;
}

.marginlefting {
    margin-left: 60px !important;
}

.displaynone {
    display: none !important;
}

.displayblock {
    display: block !important;
}

.sidebar .item i {
    font-size: 24px;
    margin-top: -5px !important;
}

.logo {
    height: 48px !important;
    padding: 10px !important;
}

.logo img {
    width: 100% !important;
    height: 38px !important;
}

.title.item {
    padding: .92857143em 1.14285714em !important;
}

.dropdown .menu .header {
    padding-top: 3.9px !important;
    padding-bottom: 3.9px !important;
}

.centered-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tox-statusbar__branding{
    display: none !important;
}
