@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiDataGrid-columnHeaderTitleContainer {
    display: flex !important;
    justify-content: center !important;
}

.MuiInputBase-input {
    height: 52px !important;
}

.MuiDataGrid-footerContainer {
    display: none !important;
}

#react-select-2-input {
    box-shadow: none !important;
}

.overflow-scroll::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.overflow-scroll::-webkit-scrollbar-thumb {
    background-color: blue;
}

.MuiDataGrid-cell--editable>div {
    min-width: 130px;
}

/* worker_main  -----------*/
.MuiDataGrid-cell>div {
    min-width: 100px;
}

.MuiDataGrid-cell--editable>div {
    min-width: 40px;
}

.dateBooking>div {
    height: 35px;
    margin-right: 4px;
}

.dateBooking>div>input {
    border: 1px solid green;
}

.dateBooking>div>input:focus {
    border: 1px solid green;

}
#react-select-6-input{
    box-shadow: none;
}
