@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    /* Colors */
    --body-color: #393937;
    --accent-color: #03e9f4;
    --white-color: #fff;
    --box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;

    /* Font and typography */
    --body-font: 'Montserrat', sans-serif;
    --normal-font-size: 1rem;

    /* Font weight */
    --font-regular: 400;
    --font-semi-bold: 600;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

.button-animation {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    color: var(--accent-color);
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 4px;
    transition: 0.5s;
}

.button-animation span {
    position: absolute;
    display: block;
}

.button-animation .sppp1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--accent-color));
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

.button-animation .sppp2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--accent-color));
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

.button-animation .sppp3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--accent-color));
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

.button-animation .sppp4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--accent-color));
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

.button-animation:hover {
    background-color: var(--accent-color);
    color: var(--white-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

/* ---------------------------------- */
.MuiDataGrid-columnHeaderTitleContainer {
    display: flex !important;
    justify-content: center !important;
}

.MuiInputBase-input {
    height: 52px !important;
}

#tableRight>div>div>div>.css-wop1k0-MuiDataGrid-footerContainer {
    display: none !important;
}
/* #tableRight>div>div>div {
    display: none !important;
} */
#tableLeft>div>div>div>.css-wop1k0-MuiDataGrid-footerContainer {
    display: none !important;
}
.css-1w53k9d-MuiDataGrid-overlay{
    display: none !important;
}
#react-select-2-input {
    box-shadow: none !important;
}

.overflow-scroll::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.overflow-scroll::-webkit-scrollbar-thumb {
    background-color: blue;
}

.MuiDataGrid-cell--editable>div {
    min-width: 130px;
}

/* worker_main  -----------*/
.MuiDataGrid-cell>div {
    min-width: 100px;
}

.MuiDataGrid-cell--editable>div {
    min-width: 40px;
}

.dateBooking>div {
    height: 35px;
    margin-right: 4px;
}

.dateBooking>div>input {
    border: 1px solid green;
}

.dateBooking>div>input:focus {
    border: 1px solid green;

}

#react-select-6-input {
    box-shadow: none;
}

*, html, body {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}

.css-c63i49-MuiInputBase-input-MuiInput-input:focus {
    box-shadow: none;
}

.css-128fb87-MuiDataGrid-toolbarContainer>button {
    display: none;
}

.marginlefting {
    margin-left: 60px !important;
}

.displaynone {
    display: none !important;
}

.displayblock {
    display: block !important;
}

.sidebar .item i {
    font-size: 24px;
    margin-top: -5px !important;
}

.logo {
    height: 48px !important;
    padding: 10px !important;
}

.logo img {
    width: 100% !important;
    height: 38px !important;
}

.title.item {
    padding: .92857143em 1.14285714em !important;
}

.dropdown .menu .header {
    padding-top: 3.9px !important;
    padding-bottom: 3.9px !important;
}

.centered-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tox-statusbar__branding{
    display: none !important;
}
.MuiBox-root>div{
    border:none;
}
.customIMG img{
    border: none !important;
    background: none;
}
.edit-alert > div{
    margin-bottom: 0;
}
/* post  */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spin {
    animation: spin 2s linear infinite;
}

#EditPostDialog>div>div>textarea{
    height: 100px !important;
}
