@tailwind base;
@tailwind components;
@tailwind utilities;

.css-1b74o31-MuiInputBase-root-MuiDataGrid-editInputCell input {
    height: 52px !important;
}
.css-5wly58-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell{
    display: flex !important;
    justify-content: center !important;
}
.MuiDataGrid-columnHeaderTitleContainer{
    display: flex !important;
    justify-content: center !important;
}
.MuiDataGrid-footerContainer{
    display: none !important;
}
#react-select-2-input{
    box-shadow: none !important;
}
